<h2 class="pagetitle"> Client IRC </h2>
<div id="main-irc">
	<input type="hidden" name="activeserver" value="" />
	<input type="hidden" name="activechannel" value="" />
	<div class="tabbable tabs-right">
		<ul class="list nav nav-tabs listbuffer">
			<li class="active"><a href="#log" data-toggle="tab">log</a></li>
		</ul>
		<div class="tab-content contentbuffer">
				<div class="bufferchan tab-pane active" id="log">
					<table class="table table-striped allmsg">
						<tr class="msg">
							<td class="pseudo">Fastolph</td>
							<td class="message">y'avait cours doc EIP ce matin, pis mon lit m'a dit "nope"</td>
							<td class="time">13h30</td>
						</tr>
					</table>
				</div>	
		</div>
			<div class="input-append send-message formirc">
				<input class="span2" id="appendedInputButton" type="text">
				<button class="btn" type="button">Send!</button>
		</div>
	
	</div>

</div>

<script src="static/js/irc.js"></script>


