<h2 class="pagetitle"> {{.Title}} </h2>

<form class="settings" id="form-settings" action="">
    <span id="message-alert"></span>
    <div class="control-group">
        <label class="control-label" for="Notify">Notify </label>
        <div class="controls">
            <div id="settings-notify" class="switch switch-small" onclick="notify('', '')">
             <input type="checkbox" name="Notify" value="true">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Save_Session">Save Session</label>
        <div class="controls">
            <div id="settings-savesession" class="switch switch-small">
             <input type="checkbox" name="Save_Session" value="true">
            </div>
        </div>
    </div>
    <button type="submit" class="btn">Save</button>
</form>

<link href="static/css/bootstrapSwitch.css" rel="stylesheet">
<script src="static/js/import/bootstrapSwitch.js"></script>

