<!DOCTYPE html>
<html>
<head>
  <title>GO#IRC</title>
  <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="static/css/style.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Mako' rel='stylesheet' type='text/css'>
  <link href='static/css/jquery.scrollbars.css' rel='stylesheet' type='text/css'>
  <link href='static/css/lightbox.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="top-header">
  </div>

  <div class="wrap">

    <div class="logo">
      GO#IRC
    </div>

    <div class="sidebar">

        <ul class="nav nav-tabs switch-userlist">
          <li class="active"><a href="#menu" data-toggle="tab">Menu</a></li>
          <li><a id="userlisttab" href="#userlist" data-toggle="tab">User List</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="menu">
            <ul class="nav nav-list bs-docs-sidenav">
              <li id="home"><a href="#home">Home <i class="icon-chevron-right"></i> </a></li>
              {{if .Data.login}}
              <li><a href="logout">Logout<i class="icon-chevron-right"></i> </a></li>
              {{else}}
              <li id="register"><a href="#register">Register<i class="icon-chevron-right"></i> </a></li>
              {{end}}
              {{if .Data.login}}  {{else}} <li id="login"><a href="#login">Login<i class="icon-chevron-right"></i> </a></li>  {{end}}

              <li id="irc"><a href="#irc">Irc <i class="icon-chevron-right"></i> </a></li>
              <li><a href="#settings">Settings <i class="icon-chevron-right"></i> </a></li>
              <li><a href="#profile">Profile <i class="icon-chevron-right"></i> </a></li>
              <li><a href="#foo">Foo <i class="icon-chevron-right"></i> </a></li>
              <li><a href="#bar">Bar <i class="icon-chevron-right"></i> </a></li>
            </ul>
          </div>
          <div class="tab-pane userslist" id="userlist">
            <span id="userlist-buffer0" class="userlist-buffer">
              <span class="userlist-style">
              </span>
              <ul class='nav nav-list'>
                <li class='nav-header'>Chatting</li>
                <li class='divider'></li>
                <li class='nav-header'>User List</li>
                <span class="userlist-user">
                </span>
              </ul>
           </span>
          </div>
        </div>


    </div>

    <div class="content">

    </div>
    {{if .Data.login}}
    <span class="hidden" id="clientirc">
      <h2 class="pagetitle"> Settings : </h2>
      <div class="menu-irc"> <span class="item-menu-irc">Servers</span>  <span class="item-menu-irc">Channels</span> </div>
      <div class="menu-settings"></div>
      <div class="main-irc">
        <input type="hidden" name="activeserver" value="" />
        <input type="hidden" name="activechannel" value="" />
        <div class="tabbable tabs-right">
          <ul class="list nav nav-tabs listbuffer">
            <li class="active"><a href="#log" data-toggle="tab">log</a></li>
          </ul>
          <div class="tab-content contentbuffer">
            <div class="bufferchan tab-pane active" id="log">
              <table class="table table-striped allmsg">
                <tr class="msg">
                  <td class="pseudo">Pseudo</td>
                  <td class="message">Message</td>
                  <td class="time">Time</td>
                </tr>
              </table>
              <input type="hidden" class="current-nick" value="log" />
            </div>
          </div>
          <div class="input-prepend input-append send-message formirc">
            <span class="add-on"><i onclick="changenick()" class="icon-edit"></i><input type="text" disabled="disabled" value="my pseudo" class="inputpseudo"></span>
            <input class="span2 inputtextirc" id="appendedPrependedInput" type="text">
            <button class="btn" onclick="send_message()" type="button">Send!</button>
          </div>

        </div>
      </div>
    </span>
    {{else}}
    {{end}}
    <input type="hidden" value="{{.Data.uid}}" id="yuid" name="yuid" />
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="static/js/irc.js"></script>
  <script src="static/js/import/bootstrap.min.js"></script>
  <script src="static/js/import/lightbox.js"></script>
</body>
</html>