<!DOCTYPE html>
<html>
<head>
  <title>GO#IRC</title>
  <link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="static/css/style.css" rel="stylesheet" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Mako' rel='stylesheet' type='text/css'>
  <link href='static/css/jquery.scrollbars.css' rel='stylesheet' type='text/css'>
  
</head>
<body>
  <div id="top-header">
  </div>

  <div id="wrap">

    <div id="logo">
      GO#IRC
    </div>

    <div id="sidebar">
      <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#home">Home <i class="icon-chevron-right"></i> </a></li>
          <li><a href="#register">Register<i class="icon-chevron-right"></i> </a></li>
          <li><a href="#irc">Irc <i class="icon-chevron-right"></i> </a></li>
          <li><a href="#foo">Setting <i class="icon-chevron-right"></i> </a></li>
          <li><a href="#bar">Bar <i class="icon-chevron-right"></i> </a></li>
          <li><a href="#foo">Foo <i class="icon-chevron-right"></i> </a></li>
          <li><a href="#bar">Bar <i class="icon-chevron-right"></i> </a></li>
        </ul>
    </div>

    <div id="content">
    </div>

  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/websocket.js"></script>
  <script src="static/js/sidebar.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/js/jquery.mousewheel.js"></script>
  <script src="static/js/jquery.scrollbars.js"></script>
</body>
</html>